---
title: Windtoday
image: https://windtoday.co/logo.png
---

<section class="hero diagonal">
	<div class="container">
		<h1 class="editable">All water sports stock at one place</h1>
		<p class="subtext editable">
			<strong>Simple</strong>, <strong>Global</strong> and <strong>Realtime</strong>.
		<p>
			<a class="button alt" target="_blank" href="https://app.windtoday.co/">Go to Application</a>
		</p>
	</div>
</section>

<section class="diagonal">
	<div class="container halves">
		<div>
			<h2 class="editable">Find what you want</h2>
			<p class="editable">
        Discover, compare and choose daily offers from the main water sports shops.
      </p>
      <p class="editable">
        Pay and receive in your house, independently where are you.
      </p>
			<p class="editable"><a href="{{ site.baseurl }}/blog/features/">View All Features &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for post in site.categories['user guide'] limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ post.url }}">
            <img src="{% include relative-src.html src=post.image %}" alt="{{ post.title }}">
          </a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/store.svg" width="250"></li>
			</ul>
		</div>
		<div>
			<h2 class="editable">Shopping integration</h2>
			<p class="editable">
        No matters what e-commerce solution you are using.
			</p>
			<p class="editable">
        We can integrate transparently with your shop and detect your new stock or price variations.
			</p>
      <p class="editable"><a href="{{ site.baseurl }}/pricing">&larr; View Pricing</a></p>
		</div>
	</div>
</section>
