html {
  background: $grey-900;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

strong, b {
  font-weight: 400;
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: 0.25rem solid #e5e5e5;
  position: relative;

  &.info {
    border-left-color: $brand-color;
    background-color: $grey-50;

    &::before {
      background-color: $brand-color;
      border-radius: 100%;
      color: $white;
      content: "i";
      font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
      font-size: 14px;
      font-weight: bold;
      left: -12px;
      line-height: 20px;
      position: absolute;
      width: 20px;
      height: 20px;
      text-align: center;
      top: 14px;
    }
  }
}

a {
  color: $brand-color;
  text-decoration: none;
  border: 0;
  transition: border .2s ease-in-out;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}

a:hover {

  border-bottom-color: inherit;
}

figure {
  margin: 0 0 40px 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

figcaption {
  font-weight: 300;
  text-align: center;
  color: $grey-500;
  font-size: 1.2rem;
  margin-top: 12px;
}

h1 {
  font-weight: 300;
  font-size: 2.3rem;
  margin: 0;
  line-height: 1.24731183em;
  margin-top: 0.31182796em;
  margin-bottom: 0.62365592em;
}

h2 {
  font-weight: 300;
  font-size: 2.2rem;
  margin: 0 0 30px 0;
}

h3 {
  color: $grey-500;
  font-weight: 300;
  font-size: 1.8rem;
  margin: 0 0 20px 0;
  color: #9E9E9E;
}

h4 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 0 10px 0;
}

p, address, ul, ol, pre {
  margin: 0 0 20px 0;
}

p, address, ul, ol {
  font-size: 1.38rem;
  color: $grey-700;
  font-weight: 300;
  line-height: 1.8;
}

pre {
  padding: 10px;
  background: $grey-200;
  border-radius: 2px;
}
