.moon-gray {
  color: #cfd7e6;
}

.moon-gray {
  color: hsla(216, 18%, 65%, .8);
}

.blue {
  color: #4cc5fe;
}

.green {
  color: #31d0c9;
}

.search {
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid;
  border-color: #4cc5fe;
}

.search::-webkit-input-placeholder {
  color: #c3c3c3;
}

.search::-ms-input-placeholder {
  color: #c3c3c3;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.badge {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding: .25rem;
  margin: 1rem 0;
}
