/* custom tachyons */

.moon-gray {
  color: hsla(216, 18%, 65%, .8);
}

.blue {
  color: #4cc5fe;
}

.bg-blue {
  background-color: #4cc5fe;
}

/* custom */

.search {
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid;
  border-color: #4cc5fe;
}

.search::-webkit-input-placeholder {
  color: #c3c3c3;
}

.search::-ms-input-placeholder {
  color: #c3c3c3;
}

.badge {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding: .25rem;
  margin: 1rem 0;
}

/* video */

.jquery-background-video-wrapper {
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/img/video-fallback.png);
}

.jquery-background-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  object-fit: contain;
  transform: translate(-50%, -50%);
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background: url(/assets/img/black-dots.png) left top repeat;
  opacity: .25;
}

/* extra */

.fade-in {
  animation-fill-mode: both;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: .75s;
}

.fade-in-delay {
  animation-delay: 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* not-small */

@media screen and (min-width: 30em) {
  .pricing-table {
    border-collapse: separate;
    border-spacing: 25px;
  }

  .recommended-tier {
    transform: scale(1.1);
  }

  .nav-padding {
    padding-top: 115px;
  }
}

/* small */

@media only screen and (max-width: 48em) {
  .nav-padding {
    padding-top: 126px;
  }

  .video-fallback {
    background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)),
                    url(/assets/img/video-fallback.png) no-repeat center;
  }
}
