---
layout: default
archive: true
---

<article class="post">
  {% include post-header.html post=page %}
  <section id="post-body">
    {{content}}
  </section>
</article>

{% if page.static %}

{% include footer.html %}

{% else %}

<footer id="post-meta" class="clearfix">
    <a href="http://twitter.com/{{ site.author.twitter }}">
        <img class="avatar" src="{{ site.baseurl }}/assets/images/avatar.png">
        <div>
            <span class="dark">{{ site.author.name }}</span>
            <span>{{ site.description }}</span>
        </div>
    </a>

    <section id="sharing">
        {% include share.html %}
    </section>
</footer>

<!-- Disqus comments -->
{% if site.disqus %}
    <div class="archive readmore">
        <h3>Comments</h3>
        {% include disqus.html %}
    </div>
{% endif %}

{% endif %}
