<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>

  {% include navigation.html %}

  <article class="post">
    {% include post-header.html post=page %}

    <section class="wrapper">
      {% capture pricing_header %}{% include pricing_header.md %}{% endcapture %}
      {{ pricing_header | markdownify }}
    </section>

    {{ content }}

    <section class="wrapper">
      {% capture pricing_footer %}{% include pricing_footer.md %}{% endcapture %}
      {{ pricing_footer | markdownify }}
    </section>
  </article>

  <div class="wrapper">
    {% include footer.html %}
  </div>

  {% include scripts.html %}
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="https://cdn.jsdelivr.net/g/sweetalert2@6.6.2,jquery.loading@1.2.0"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/g/sweetalert2@6.6.2(sweetalert2.min.css),jquery.loading@1.2.0(jquery.loading.min.css)">
  <script src="{{site.baseurl}}/assets/js/pricing.js"></script>
</body>
</html>
